target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
images/Post/7/0/2/Post\.png

images/Post/7/0/3/Post\.png

images/Post/7/0/4/Post\.png

images/Post/7/0/5/Post\.png

images/Post/7/0/6/Post\.png

images/Post/7/5/2/Post\.png

images/Post/8/0/2/Post\.png

images/Post/8/0/3/Post\.png

images/Post/8/0/4/Post\.png

images/Post/8/0/5/Post\.png

images/Post/8/0/6/Post\.png

dois\.jpg
